h2 Kontakta mig gärna!

img src="img\ab8e8d3f8aab71818795ce2db4891c64.png" alt="" 
p +031 685 56941

img src="img\mail.png" alt=""

p picniche@info.se

img src="img\Instagram-Icon.png" alt=""  
p @picniche

img src="img\1024px-Facebook_icon.svg.png" alt="" 

p Picniche AB
